<!DOCTYPE html>
<html>
<head>
	<title>获取中心点</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../2dSdk/HG2DMap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">
</head>

<body>
<div id="app">
	<el-steps :active="active" align-center>
        <el-step title="选择文件" ></el-step>
        <el-step title="确定长宽" ></el-step>
        <el-step title="建立坐标" ></el-step>
        <el-step title="上传地图" ></el-step>
    </el-steps>

    <div>
    	<el-button @click="upload_click">选择文件</el-button>
    </div>

    <div v-if="active == 2 || active == 3 || active == 4">
    	<p>请直接输入或点击”测量“得到地图长宽，然后点击”确定“确定地图坐标</p>
    	<el-input-number :controls="false" :disabled="active != 2" v-model="myParams.img_atc_width" :min="0" :max="999999" label="地图长度(m)" @change="change_img"></el-input-number>
        <el-input-number :controls="false" :disabled="active != 2" v-model="myParams.img_atc_height" :min="0" :max="999999" label="地图宽度(m)" @change="change_img2"></el-input-number>
        <el-button @click="cl_click">测量</el-button>
        <el-button @click="cl_ok" v-if="active ===2 ">确定</el-button>
    </div>

    <div v-if=" active == 3 || active == 4">
    	<p>请点击选择一个点并输入地图偏移量(横为x轴，纵为y轴)</p>
    	<el-input-number :disabled="active != 3" :controls="false" v-model="myParams.coordinate_origin_x" :min="-999999" :max="999999" label="x(m)"></el-input-number>
        <el-input-number :disabled="active != 3" :controls="false" v-model="myParams.coordinate_origin_y" :min="-999999" :max="999999" label="y(m)"></el-input-number>
        <el-button @click="origin_ok" v-if="active ===3 ">确定</el-button>
    </div>

    <div v-if="active == 4">
    	<p>
    		<el-button @click="upload_ok">上传</el-button>
    	</p>
        
    </div>
    <div style="position:relative">
    	<div id="tool" style="width:100%;height:500px"></div>
	    <div style="position: absolute; bottom: 84px; left: 11px; cursor: pointer;" v-if="active >= 2">
	        <img src="../img/rotate.png" alt="pic" style="width: 25px;" @click="img_rotate">
	    </div>
    </div>
   
    

</div>
</body>
<script src="../2dSdk/HG2DMap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript">
	let mixins = {
            methods: {
                //自适应缩放比
                mapAutomaticSetting(map_zoom, x, y, times, extend, map_div) {
                    var obj = {};
                    // 如果缩放比为空
                    if (map_zoom == 0) {
                        var map_x = parseFloat(Math.abs(parseFloat(extend[2]) - parseFloat(extend[0]))); // 得到地图文件的宽
                        var map_y = parseFloat(Math.abs(parseFloat(extend[3]) - parseFloat(extend[0]))); // 得到地图文件的高
                        var div_x = parseFloat($("#" + map_div).width()); // 得到显示地图的div的宽
                        var div_y = parseFloat($("#" + map_div).height()); // 得到显示地图的div的高
                        var max_x = parseFloat(div_x / (map_x * 73)); // 当缩放比为40时，地图1m对应像素值73px,当缩放比加1，对应像素值增加1.5倍。max_x为对应像素值还需要增加或减少多少倍才能等于div的宽度
                        var max_y = parseFloat(div_y / (map_y * 73)); // max_y 同理max_x
                        var zoom_x = Math.log(max_x) / Math.log(1.5); // 求出地图宽的对应像素值需要增加或减少的倍数值,1.5为地图的缩放比系数zoom_factor,详情可参考2dSDK文档
                        var zoom_y = Math.log(max_y) / Math.log(1.5); // 高与宽同理
                        obj.zoom = parseFloat(40 + Math.min(zoom_x, zoom_y)).toFixed(2); // 40加上或减去倍数，就是最合适的缩放比
                    } else {
                        obj.zoom = parseFloat(map_zoom);
                    }
                    // 如果中心视点为空
                    var center_x, center_y, times_drag;
                    if (x == null) {
                        // 以地图文件的坐标系为原点算出地图文件的中心视点的x值
                        center_x = parseFloat(((parseFloat(extend[2]) - parseFloat(extend[0])) / 2 + parseFloat(extend[0])).toFixed(2));
                    } else {
                        center_x = parseFloat(x);
                    }
                    if (y == null) {
                        // 以地图文件的坐标系为原点算出地图文件的中心视点的y值
                        center_y = parseFloat(((parseFloat(extend[3]) - parseFloat(extend[1])) / 2 + parseFloat(extend[1])).toFixed(2));
                    } else {
                        center_y = parseFloat(y);
                    }
                    obj.center = [center_x, center_y];
                    // 如果拖拽倍数为空
                    if (times == null) {
                        // 拖拽倍数设为1
                        times_drag = 1;
                    } else {
                        times_drag = parseFloat(times);
                    }
                    // 计算出限制地图离中心视点拖拽的距离(地图文件宽和高的times_drag倍)的坐标
                    var extent = [center_x - times_drag * Math.abs((parseFloat(extend[2]) - parseFloat(extend[0]))), center_y - times_drag * Math.abs((parseFloat(extend[3]) - parseFloat(extend[1]))), center_x + times_drag * Math.abs((parseFloat(extend[2]) - parseFloat(extend[0]))), center_y + times_drag * Math.abs((parseFloat(extend[3]) - parseFloat(extend[1])))];
                    obj.extent = extent;
                    return obj;
                },
                myTime: function(val, fmt) {
                    var Dates = new Date(parseInt(val));
                    var o = {
                        'M+': Dates.getMonth() + 1,
                        'd+': Dates.getDate(),
                        'h+': Dates.getHours(),
                        'm+': Dates.getMinutes(),
                        's+': Dates.getSeconds(),
                        'q+': Math.floor((Dates.getMonth() + 3) / 3),
                        'S+': Dates.getMilliseconds()
                    }
                    if (/(y+)/.test(fmt)) {
                        fmt = fmt.replace(RegExp.$1, (Dates.getFullYear() + '').substring(4 - RegExp.$1.length))
                    }
                    for (var k in o) {
                        if (o.hasOwnProperty(k)) {
                            if (new RegExp('(' + k + ')').test(fmt)) {
                                fmt = fmt.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ('00' + o[k]).substring(('' + o[k]).length))
                            }
                        }
                    }
                    return fmt;
                },
                /*显示聚类人数*/
                clusterTextFunction(feature) {
                    var features = feature.get('features');
                    var size = features.length;
                    return size.toString() + "人";
                },
                /*设置聚类图标的半径*/
                radiusFunction(feature) {
                    var features = feature.get('features');
                    var size = features.length;
                    return (20 + size / 2);
                },
                /*
                 绘制区域图形转字符串
                */
                fromArrayGetString(array) {
                    var string = array.join(" ");
                    return string;
                }
            }
        }

	var vm = new Vue({
		el:'#app',
		mixins: [mixins],
		data(){
			return {
				cl_pointers:[],
				DRAW:null,
				mapData: {
                    mapHeight: 800, // 显示容器高
                    mapWidth: '100%', // 显示容器宽
                    MY_MAP: null,
                    MAP_URL: '',
                },
				myParams: {
					img_atc_height: 0,  //图片实际分辨率
                    img_atc_width: 0,
                   	img_height: 0,  //图片分辨率
                    img_width: 0,
                    coordinate_origin_x: 0,
                    coordinate_origin_y: 0,
                    LOCATION_X: 0,
                    LOCATION_Y: 0,
                    IMG_ROTATION: 0,
                    floor_scaling_ratio: '', // 地图缩放比  无 自适应
                    drag_times: 1, // 离地图中心视点的拖放倍数(以地图的宽和高为比)
                    real_length: 0
                },
				active:1
			}
		},
		methods:{
			change_img(e){
				this.myParams.img_atc_height =( e * this.myParams.img_height / this.myParams.img_width ).toFixed(4)
			},
			change_img2(e){
				this.myParams.img_atc_width = ( e * this.myParams.img_width / this.myParams.img_height ).toFixed(4)
			},
			upload_ok(){
				
				let XMIN = (0 - this.myParams.LOCATION_X) + this.myParams.coordinate_origin_x;
                let YMIN = (0 - this.myParams.LOCATION_Y) + this.myParams.coordinate_origin_y;
                let XMAX = (this.myParams.img_atc_width - this.myParams.LOCATION_X) + this.myParams.coordinate_origin_x;
                let YMAX = (this.myParams.img_atc_height - this.myParams.LOCATION_Y) + this.myParams.coordinate_origin_y;

                this.endDatas = {
                    floor_id: 1,
                    coordinate_left: XMIN,
                    coordinate_right: XMAX,
                    coordinate_upper: YMAX,
                    coordinate_down: YMIN,
                    rotation: this.myParams.IMG_ROTATION,
                    floor_scaling_ratio: this.myParams.floor_scaling_ratio, // 地图缩放比  无 自适应
                    drag_times: this.myParams.drag_times, // 离地图中心视点的拖放倍数(以地图的宽和高为比)
                    img_atc_height: this.myParams.img_atc_height,
                    img_atc_width: this.myParams.img_atc_width,
                    img_height: this.myParams.img_height,
                    img_width: this.myParams.img_width,
                    img_url: this.mapData.MAP_URL

                }
                localStorage.setItem('location', JSON.stringify(this.endDatas))
                console.log(this.endDatas)
                window.location.href="./draw.html"
			},
			img_rotate() {
                this.myParams.IMG_ROTATION = this.mapData.MY_MAP.getView().getRotation() + Math.PI / 2;
                if (Math.abs(this.myParams.IMG_ROTATION - 6.28318530717) < 0.001) {
                    this.myParams.IMG_ROTATION = 0;
                }
                this.mapData.MY_MAP.getView().setRotation(this.myParams.IMG_ROTATION);
            },
			clearDrawing() {
                if (this.DRAW) {
                    this.mapData.MY_MAP.removeInteraction(this.DRAW);
                }
            },
			getMapOptions(ID, flag) {
                return new Promise((resolve, reject) => {
                	
                    let extend = !flag?[0, 0,this.myParams.img_width, this.myParams.img_height] : [0, 0,this.myParams.img_atc_width, this.myParams.img_atc_height]; // 默认设置地图中心为0,0
                    let obj = this.mapAutomaticSetting(0, null, null, 2, extend, ID); // 调用函数计算缩放比、中心视点
                    resolve({
                        extend,
                        obj
                    })
                })
            },
            initMap_URL(ID, flag) {
                return new Promise((resolve, reject) => {
                	
                    this.getMapOptions(ID, flag).then(({
                        obj,
                        extend
                    }) => {
                        // 调用2d地图sdk初始化图片地图文件
                        
                        document.getElementById(ID).innerHTML = ''

                        this.mapData.MY_MAP = new HG2DMap.map(
                            this.mapData.MAP_URL,
                            ID,
                            obj.center,
                            obj.zoom,
                            'image',
                            extend, {
                                extent: obj.extent,
                                zoom_factor: 1.5
                            });

                        resolve(null)
                    })

                })

            },
			mapInit(imgSrc) {
                var Img = new Image();
                Img.onload = () => {
                    const {
                        width,
                        height
                    } = Img;

                    this.myParams.img_height = height;
                    this.myParams.img_width = width;

                    let extend = [0, 0, this.myParams.img_width, this.myParams.img_height]; // 默认设置地图中心为0,0
                    let obj = this.mapAutomaticSetting(0, null, null, 2, extend, "tool"); // 调用函数计算缩放比、中心视点

                   
                    document.getElementById('tool').innerHTML = ''

                    this.mapData.MY_MAP = new HG2DMap.map(
                        this.mapData.MAP_URL,
                        "tool",
                        obj.center,
                        obj.zoom,
                        'image',
                        extend, {
                            extent: obj.extent,
                            zoom_factor: 1.5,
                            lang: 'zh-cn'
                        }
                    );
                    var my_mouse_postion = new HG2DMap.control.mouse_position(); // 调用2d地图SDK中的实例化鼠标坐标工具
                    var my_scale_line = new HG2DMap.control.scale_line(); // 调用2d地图SDK中的实例化比例尺工具
                    var my_drag_rotate = new HG2DMap.draw.drag_rotate(); // 调用2d地图SDK中的地图旋转
                    this.mapData.MY_MAP.addInteraction(my_drag_rotate); // 调用2d地图SDK中的给地图添加地图旋转
                    this.mapData.MY_MAP.addControl(my_mouse_postion); // 调用2d地图SDK中的给地图添加鼠标坐标工具
                    this.mapData.MY_MAP.addControl(my_scale_line); // 调用2d地图SDK中的给地图添加比例尺工具

                }
                Img.src = imgSrc

            },
			upload_click(){
				this.mapData.MAP_URL = 'test.png';
				this.mapInit(this.mapData.MAP_URL)
				this.active = 2;
			},
			origin_ok(){ //原点确定
				this.active = 4;	
			},
			cl_ok(){ // 测量结束
				this.active = 3;
				this.initMap_URL('tool',true).then(() => {
                    this.mapData.MY_MAP.getTarget().style.cursor = "pointer";
                    this.mapData.MY_MAP.on("click", this.sureLocation);
                })
			},
			sureLocation(e) {
                
                if (e.dragging) {
                    return;
                }
                // 得到鼠标点击地图时的像素点
                var pixel = this.mapData.MY_MAP.getEventPixel(e.originalEvent);
                // 得到该像素点的坐标
                this.myParams.LOCATION_X = this.mapData.MY_MAP.getCoordinateFromPixel(pixel)[0];
                this.myParams.LOCATION_Y = this.mapData.MY_MAP.getCoordinateFromPixel(pixel)[1];
                this.mapData.MY_MAP.removeAllCard();
                this.mapData.MY_MAP.addCardInfo(1, "../img/icon/mapLocation.png", this.myParams.LOCATION_X, this.myParams.LOCATION_Y, " ");
            },

			//点击地图测量长宽
            cl_click() {
            	this.active = 2;
                // 移除地图所有添加的元素
                this.mapData.MY_MAP.removeAllFeature();
                this.cl_pointers.splice(0);

                this.initMap_URL('tool').then(() => {


                    this.clearDrawing()


                    // 调用2d地图sdk绘制线条
                    this.DRAW = new HG2DMap.draw.line({
                        max_point: 2
                    });
                    // 将绘制对象添加到地图VIEW_MAP上
                    this.mapData.MY_MAP.addInteraction(this.DRAW);
                    this.DRAW.on("drawend", (e) => {
                        // 得到绘制线条的起点和终点坐标
                        this.cl_pointers = e.feature.getGeometry().getCoordinates();
                        console.log(this.cl_pointers)
                        var feature = new HG2DMap.feature.line(this.cl_pointers);
                        this.mapData.MY_MAP.addFeature(feature);
                        this.mapData.MY_MAP.removeInteraction(this.DRAW);

                        this.$prompt('请输入测量线实际长度（m）', '提示', {
				          confirmButtonText: '确定',
				          cancelButtonText: '取消',
				          inputValidator: this.inputValidator
				        }).then(({ value }) => {
				           
				            let x = Math.abs(this.cl_pointers[0][0] - this.cl_pointers[1][0]);
		                    let y = Math.abs(this.cl_pointers[0][1] - this.cl_pointers[1][1]);
		                    // 得到地图实际的长宽

		                    this.myParams.img_atc_width = ((value / Math.sqrt((x * x + y * y))) * this.myParams.img_width).toFixed(4)
		                    this.myParams.img_atc_height = ((value / Math.sqrt((x * x + y * y))) * this.myParams.img_height).toFixed(4)

		                    this.clearDrawing()

				        }).catch(() => {
				            this.mapData.MY_MAP.removeFeature(feature);
				        });

                    });
                })

            },
            inputValidator(e){
            	if(!/^(?!-)(.*)?[1-9]/g.test(e)){
            		return '请输入大于0的数'
            	}else{
            		return true
            	}
            }
            
		}

	})
</script>
</html>