<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <title></title>
    <link rel="stylesheet" href="../2dSdk/HG2DMap.min.css">
    <style>
        
    #map{
        width:100%;
        height:900px
    }
    </style>
</head>
<body>
<div id="map"></div>
<script src="../2dSdk/HG2DMap.min.js"></script>
<script>
    /*extend 为图片对应实际的坐标范围，顺序为[左, 下, 右, 上]，且单位必须为米*/
//1182 774
 var my_map = new HG2DMap.map("test.png","map",[0,0],"17.5","image",[-1182/2,-774/2,1182/2,774/2], {cluster_distance:20,cluster_text_function:cluster_test_function,radius_function:radius_function});

/*文字函数和聚类半径函数*/

for (var i = 0; i < 1; i++){
//添加定位卡
 my_map.addCardInfo(i, "../img/icon/location.png", Math.random()*500, Math.random()*500, i.toString());
}



setInterval(()=>{
    //更新定位卡坐标
    my_map.setCardCoordinate(0,Math.random()*100, Math.random()*100)
    //更新定位卡图标
    
    //my_map.setCardIcon(1,"../img/icon/"+iconArr[iconKey]+".png")
    //更新定位卡的文字
    //my_map.setCardText(1,iconKey);


},2000)
//删除定位卡
//my_map.removeOneCard(0)
//删除所有定位卡  removeAllCard()

//隐藏所有定位卡 hideAllCard()

//showAllCard()

//增加区域
//my_map.addZone([[10,10],[30,0],[30,30],[10,230]],1,"测试区域",'red');

//my_map.addZone([[40,40],[30,10],[30,50],[10,230]],2,"测试区域2",'red');
// setTimeout(()=>{
//     //设置区域颜色
//     my_map.setZoneColor(1,'green')
//     //设置区域文字
//     my_map.setZoneText(1,'12324254')
// },1000)





// setTimeout(()=>{
//     //删除指定区域  removeAllZone() hideAllZone() showAllZone()
//     my_map.removeOneZone(2)
// },2000)

//添加轨迹追踪 removeOneTrack(card_id)  clearOneTrack(card_id)   removAllTrack()  clearAllTrack() hideAllTrack() showAllTrack()

//my_map.addTrack(1,[[140,40],[130,10],[230,50],[10,230]],'pink')


//my_map.addControlMeasure("line")


for (var i=0;i<1000;i++){
var x = Math.random()*10 -5;
 var y = Math.random()*10 -5;
 my_map.addHeatMapPoint(x,y)
}

/*
var my_info_box = new HG2DMap.info_box("popup");
document.getElementById('popup').innerHTML = "这是一个例子";
my_info_box.setPosition([100,200]);*/

//drawPolygon(my_map)

function drawPolygon(MY_MAP){
    DRAW = new HG2DMap.draw.polygon; // 实例化一个绘制多边形的方法
    MY_MAP.addInteraction(DRAW); // 将绘制矩形的方法添加入场景
    // 绘制完成后,得到所绘制图形的坐标点,将图形添加到场景中,并且删除绘制多边形的方式,方便再次添加绘制方法
    DRAW.on("drawend", function (e) {
        // var polygon = e.feature.getGeometry().getCoordinates(); // 获取图形坐标点
        // // 多边形绘制完成后会判断图形是否自相交,使用SDK中的isSelfIntersection()判断
        // if ((polygon[0][2][0] == polygon[0][1][0]) && (polygon[0][2][1] == polygon[0][1][1])) {
        //     HG_MESSAGE("图形不能是一条直线");
        // } else if (!(HG2DMap.draw.isSelfIntersection(polygon[0]))) {
        //     ADD_DRAW_ID = -1003;
        //     MY_MAP.addZone(polygon[0], ADD_DRAW_ID, "新增区域"); // 新加区域
        //     MY_MAP.removeInteraction(DRAW);  // 删除绘制方式
        //     DRAWING = true;
        //     DRAW = undefined;
        // } else {
        //     HG_MESSAGE("图形不能自相交");
        // }
    });
}


var my_overview_map = new HG2DMap.control.overview_map();
my_map.addControl(my_overview_map);


var mouse_position = new HG2DMap.control.mouse_position ()
my_map.addControl(mouse_position);

var my_scala_line = new HG2DMap.control.scale_line();
my_map.addControl(my_scala_line);


console.log(my_map.getZoom())







function cluster_test_function(feature) {
 var features = feature.get('features');
 var size = features.length;
 return size.toString() + "人" 
}
function radius_function(feature) {
 var features = feature.get('features');
 var size = features.length;
 return (15 + size/2)
}


 </script>
</body>
</html>